.page-news .urban-type {width:200px; padding:0; height:47px; background:rgba(0, 0, 0, 0.05); text-align:center; font-size:18px; line-height:47px; font-weight:normal}
.page-news .urban-type:hover {background:#000}
.page-news .urban-type.active {background:#000}
.page-news .urban-type__close {right:17px; bottom:24px}
.page-news .urban-type__close:before,
.page-news .urban-type__close:after {width:18px; right:0}

.page-news .urban-type {width:120px; height:28px; font-size:12px; line-height:28px}
.page-news .urban-type__close {right:10px; bottom:15px}
.page-news .urban-type__close:before,
.page-news .urban-type__close:after {width:14px}

.page-news-list {margin:53px -15px -64px -15px; font-size:0; line-height:0; letter-spacing:-1px}
.page-news-item {display:inline-block; vertical-align:top; padding:0 5px 64px 5px; width:25%}
.page-news-item a {display:block; text-decoration:none; color:#000; transition:all 0.2s; padding:10px}
.page-news-item-forum a:hover {color:#000; background:rgba(104, 110, 233, 0.5)}
.page-news-item-fest a:hover {color:#000; background:rgba(255, 222, 79, 0.7)}
.page-news-item-preview img {display:block; width:100%}
.page-news-item-date {text-transform:uppercase; padding:20px 0 0 0; font-size:12px; line-height:15px; font-weight:500; letter-spacing:0}
.page-news-item-title {padding:7px 0 20px 0; font-size:20px; line-height:26px; font-weight:500; letter-spacing:0}

.page-news-list {margin:33px -15px 0 -15px}
.page-news-item {padding:0 5px}
.page-news-item-title {font-size:16px; line-height:24px}

@media screen and (max-width:1023px) {
    .page-news .mobile-types .container {padding:0}
    .page-news-list {margin:0}
    .page-news-item {display:block; padding:0 0 40px 0; width:auto}
    .page-news-item a {padding:0}
    .page-news-item-forum a:hover {color:#000; background:transparent}
    .page-news-item-fest a:hover {color:#000; background:transparent}
    .page-news-item-date {font-size:14px; line-height:17px}
    .page-news-item-title {padding:8px 0 0 0; font-size:24px; line-height:31px}
}

.page-news-item-big {display:block; padding:0 15px 70px 15px; width:auto}
.page-news-item-big a {padding:0; position:relative; color:#fff}
.page-news-item-big a:hover {color:#fff}
.page-news-item-big .page-news-item-content {position:absolute; left:0; bottom:0; right:0; padding:76px 60px 49px 60px; background:linear-gradient(0deg, #222222 0%, rgba(34, 34, 34, 0) 100%)}
.page-news-item-big a:hover .page-news-item-content {background:transparent}
.page-news-item-big .page-news-item-date {display:inline-block; padding:0 10px; height:33px; background:#f2f2f2; color:#000; font-size:18px; line-height:33px; position:relative}
.page-news-item-big .page-news-item-title {padding:12px 0 0 0; font-size:36px; line-height:43px; max-width:880px}
.page-news-item-big .page-news-item-date span {display:block; position:absolute; left:100%; top:0; margin-left:10px; width:134px; height:33px; text-align:center}
.page-news-item-big.page-news-item-forum .page-news-item-date span {background:rgba(104, 110, 233, 1); color:#fff}
.page-news-item-big.page-news-item-fest .page-news-item-date span {background:rgba(255, 222, 79, 1); color:#000}

.page-news-item-big {padding:0 15px 45px 15px}
.page-news-item-big .page-news-item-date {font-size:13px; line-height:24px; height:22px}
.page-news-item-big .page-news-item-title {font-size:24px; line-height:36px}
.page-news-item-big .page-news-item-date span {height:22px; width:124px}

@media screen and (max-width:1023px) {
    .page-news-item-big {padding:0 0 40px 0}
    .page-news-item-big a {color:#000}
    .page-news-item-big a:hover {color:#000}
    .page-news-item-big .page-news-item-content {position:static; left:auto; bottom:auto; right:auto; padding:0; background:transparent}
    .page-news-item-big .page-news-item-date {display:block; padding:20px 0 0 0; height:auto; background:transparent; color:#000; font-size:14px; line-height:17px}
    .page-news-item-big .page-news-item-title {padding:8px 0 0 0; font-size:24px; line-height:31px; max-width:none}
    .page-news-item-big .page-news-item-date span {display:none}
}

.pager {margin:74px 0 0 0; font-size:0; line-height:0; letter-spacing:-1px; text-align:center}
.pager a,
.pager span {display:inline-block; vertical-align:top; width:40px; height:40px; font-weight:300; font-size:18px; line-height:40px; color:#373737; text-decoration:none; text-align:center; position:relative; margin:0 2px; transition:all 0.2s}
.pager a.pager-prev {margin:0 10px 0 0}
.pager a.pager-next {margin:0 0 0 10px}
.pager a.pager-prev svg,
.pager a.pager-next svg {display:inline-block; vertical-align:middle; margin:-2px 0 0 0}
.pager a.pager-prev svg path,
.pager a.pager-next svg path {stroke:#3c3c3c; transition:all 0.2s}
.pager a.pager-prev:hover svg path,
.pager a.pager-next:hover svg path {stroke:#fff}
.pager a:hover {background:#686ee9; color:#fff}
.pager a.active {background:#686ee9; font-weight:bold; color:#fff}

@media screen and (max-width:1023px) {
    .pager {margin:40px 0 0 0; position:relative}
    .pager a,
    .pager span {margin:0}
    .pager a.pager-prev {display:none}
    .pager a.pager-next {display:none}
}

.news-page-link-category {text-transform:uppercase; color:#000; text-decoration:none; margin:0 0 0 10px}
.news-page-link-category:hover {color:#000; text-decoration:underline}

.nominations__item__special::before {content:""; width:32px; height:29px; background:url(../images/nomination-special.svg) no-repeat}

.conference-subtitle {font-weight:500; color:#828282; font-size:40px; line-height:52px; margin-top:-45px}
.conference-subtitle span {font-weight:bold; color:#ff0000; margin-right:10px}
.conference-anonce {margin:30px 0 0 0; font-size:18px; line-height:27px}
.conference-anonce p {margin:18px 0 0 0; padding:0}

@media screen and (max-width:1023px) {
    .conference-subtitle {font-size:28px; line-height:35px; margin-top:-27px}
    .conference-subtitle span {display:block; margin:0}
    .conference-anonce {margin:30px 0 0 0; font-size:20px; line-height:36px}
    .conference-anonce p {margin:10px 0 0 0}
}

.conference-features {margin:54px -15px 0 -15px; font-size:0; line-height:0; letter-spacing:-1px}
.conference-feature {display:inline-block; vertical-align:top; width:33.33%; padding:0 15px}
.conference-feature-title {font-size:27px; line-height:42px; font-weight:600; color:#000; letter-spacing:0}
.conference-feature-text {font-size:18px; line-height:27px; color:#504f4f; letter-spacing:0; margin:10px 0 0 0}
.conference-feature-text p {margin:10px 0 0 0; padding:0}
.conference-health {margin:42px 0 0 0; line-height:0}

@media screen and (max-width:1023px) {
    .conference-features {margin:40px 0 0 0}
    .conference-feature {display:block; width:auto; padding:0; margin:30px 0 0 0}
    .conference-feature-text {font-size:20px; line-height:36px}
    .conference-health {display:none}
}

.conference-section-title {margin:100px 0 0 0; font-weight:900; font-size:40px; line-height:52px; color:#000}
.conference-section-text {margin:21px 0 0 0; font-size:18px; line-height:27px; color:#000}

@media screen and (max-width:1023px) {
    .conference-section-title {margin:80px 0 0 0; font-size:32px; line-height:42px}
    .conference-section-text {margin:10px 0 0 0; font-size:20px; line-height:36px}
}

.conference-section-partners {margin:26px -10px 0 -10px; font-size:0; line-height:0; letter-spacing:-1px}
.conference-section-partner {display:inline-block; vertical-align:top; width:20%; padding:20px 10px 0 10px}
.conference-section-partner-inner {display:block; height:212px; background:#f8f7f6; text-align:center; padding:10px; line-height:192px}
a.conference-section-partner-inner:hover {transition:all 0.2s; transform:translateY(-5px)}
.conference-section-partner-inner img {display:inline-block; vertical-align:middle; max-width:100%; max-height:100%}

@media screen and (max-width:1023px) {
    .conference-section-partners {margin:0 -10px}
    .conference-section-partner {width:50%}
}

.conference-section-speakers {margin:0 -15px; font-size:0; line-height:0; letter-spacing:-1px}
.conference-section-speaker {display:inline-block; vertical-align:top; width:25%; padding:50px 15px 0 15px}
.conference-section-speaker-inner {display:block; text-decoration:none; color:#000}
a.conference-section-speaker-inner:hover {color:#000; transition:all 0.2s; transform:translateY(-5px); text-decoration:none}
.conference-section-speaker-photo img {display:block; width:100%}
.conference-section-speaker-name {font-weight:600; font-size:24px; line-height:31px; letter-spacing:0; margin:30px 0 0 0}
.conference-section-speaker-text {font-size:16px; line-height:24px; letter-spacing:0; margin:10px 0 0 0}
.conference-section-speakers-more {display:none}

@media screen and (max-width:1023px) {
    .conference-section-speakers {margin:0 -10px}
    .conference-section-speaker {width:50%; padding:16px 10px 24px 10px}
    .conference-section-speaker+.conference-section-speaker+.conference-section-speaker+.conference-section-speaker+.conference-section-speaker+.conference-section-speaker+.conference-section-speaker+.conference-section-speaker+.conference-section-speaker+.conference-section-speaker+.conference-section-speaker {display:none}
    .conference-section-speaker-name {font-size:20px; line-height:26px; margin:20px 0 0 0}
    .conference-section-speaker-text {display:none}
    .conference-section-speakers-more {padding:38px 10px 0 10px}
    .conference-section-speakers-more.visible {display:block}
    .conference-section-speakers-more a {display:block; height:47px; text-decoration:none; border:2px solid #000; color:#000; font-weight:500; font-size:18px; line-height:43px; text-transform:uppercase; letter-spacing:0.03em; text-align:center}
}