.page-news .urban-type {width:200px; padding:0; height:47px; background:rgba(0, 0, 0, 0.05); text-align:center; font-size:18px; line-height:47px; font-weight:normal}
.page-news .urban-type:hover {background:#000}
.page-news .urban-type.active {background:#000}
.page-news .urban-type__close {right:17px; bottom:24px}
.page-news .urban-type__close:before,
.page-news .urban-type__close:after {width:18px; right:0}

.page-news .urban-type {width:120px; height:28px; font-size:12px; line-height:28px}
.page-news .urban-type__close {right:10px; bottom:15px}
.page-news .urban-type__close:before,
.page-news .urban-type__close:after {width:14px}

.page-news-list {margin:53px -15px -64px -15px; font-size:0; line-height:0; letter-spacing:-1px}
.page-news-item {display:inline-block; vertical-align:top; padding:0 5px 64px 5px; width:25%}
.page-news-item a {display:block; text-decoration:none; color:#000; transition:all 0.2s; padding:10px}
.page-news-item-forum a:hover {color:#000; background:rgba(104, 110, 233, 0.5)}
.page-news-item-fest a:hover {color:#000; background:rgba(255, 222, 79, 0.7)}
.page-news-item-preview img {display:block; width:100%}
.page-news-item-date {text-transform:uppercase; padding:20px 0 0 0; font-size:12px; line-height:15px; font-weight:500; letter-spacing:0}
.page-news-item-title {padding:7px 0 20px 0; font-size:20px; line-height:26px; font-weight:500; letter-spacing:0}

.page-news-list {margin:33px -15px 0 -15px}
.page-news-item {padding:0 5px}
.page-news-item-title {font-size:16px; line-height:24px}

@media screen and (max-width:1023px) {
    .page-news .mobile-types .container {padding:0}
    .page-news-list {margin:0}
    .page-news-item {display:block; padding:0 0 40px 0; width:auto}
    .page-news-item a {padding:0}
    .page-news-item-forum a:hover {color:#000; background:transparent}
    .page-news-item-fest a:hover {color:#000; background:transparent}
    .page-news-item-date {font-size:14px; line-height:17px}
    .page-news-item-title {padding:8px 0 0 0; font-size:24px; line-height:31px}
}

.page-news-item-big {display:block; padding:0 15px 70px 15px; width:auto}
.page-news-item-big a {padding:0; position:relative; color:#fff}
.page-news-item-big a:hover {color:#fff}
.page-news-item-big .page-news-item-content {position:absolute; left:0; bottom:0; right:0; padding:76px 60px 49px 60px; background:linear-gradient(0deg, #222222 0%, rgba(34, 34, 34, 0) 100%)}
.page-news-item-big a:hover .page-news-item-content {background:transparent}
.page-news-item-big .page-news-item-date {display:inline-block; padding:0 10px; height:33px; background:#f2f2f2; color:#000; font-size:18px; line-height:33px; position:relative}
.page-news-item-big .page-news-item-title {padding:12px 0 0 0; font-size:36px; line-height:43px; max-width:880px}
.page-news-item-big .page-news-item-date span {display:block; position:absolute; left:100%; top:0; margin-left:10px; width:134px; height:33px; text-align:center}
.page-news-item-big.page-news-item-forum .page-news-item-date span {background:rgba(104, 110, 233, 1); color:#fff}
.page-news-item-big.page-news-item-fest .page-news-item-date span {background:rgba(255, 222, 79, 1); color:#000}

.page-news-item-big {padding:0 15px 45px 15px}
.page-news-item-big .page-news-item-date {font-size:13px; line-height:24px; height:22px}
.page-news-item-big .page-news-item-title {font-size:24px; line-height:36px}
.page-news-item-big .page-news-item-date span {height:22px; width:124px}

@media screen and (max-width:1023px) {
    .page-news-item-big {padding:0 0 40px 0}
    .page-news-item-big a {color:#000}
    .page-news-item-big a:hover {color:#000}
    .page-news-item-big .page-news-item-content {position:static; left:auto; bottom:auto; right:auto; padding:0; background:transparent}
    .page-news-item-big .page-news-item-date {display:block; padding:20px 0 0 0; height:auto; background:transparent; color:#000; font-size:14px; line-height:17px}
    .page-news-item-big .page-news-item-title {padding:8px 0 0 0; font-size:24px; line-height:31px; max-width:none}
    .page-news-item-big .page-news-item-date span {display:none}
}

.pager {margin:74px 0 0 0; font-size:0; line-height:0; letter-spacing:-1px; text-align:center}
.pager a,
.pager span {display:inline-block; vertical-align:top; width:40px; height:40px; font-weight:300; font-size:18px; line-height:40px; color:#373737; text-decoration:none; text-align:center; position:relative; margin:0 2px; transition:all 0.2s}
.pager a.pager-prev {margin:0 10px 0 0}
.pager a.pager-next {margin:0 0 0 10px}
.pager a.pager-prev svg,
.pager a.pager-next svg {display:inline-block; vertical-align:middle; margin:-2px 0 0 0}
.pager a.pager-prev svg path,
.pager a.pager-next svg path {stroke:#3c3c3c; transition:all 0.2s}
.pager a.pager-prev:hover svg path,
.pager a.pager-next:hover svg path {stroke:#fff}
.pager a:hover {background:#686ee9; color:#fff}
.pager a.active {background:#686ee9; font-weight:bold; color:#fff}

@media screen and (max-width:1023px) {
    .pager {margin:40px 0 0 0; position:relative}
    .pager a,
    .pager span {margin:0}
    .pager a.pager-prev {display:none}
    .pager a.pager-next {display:none}
}

.news-page-link-category {text-transform:uppercase; color:#000; text-decoration:none; margin:0 0 0 10px}
.news-page-link-category:hover {color:#000; text-decoration:underline}

.nominations__item__special::before {content:""; width:32px; height:29px; background:url(../images/nomination-special.svg) no-repeat}

.conference-subtitle {color:#828282; font-size:40px; line-height:52px; margin-top:-45px; max-width:900px}
.conference-subtitle span {display:block; font-weight:bold; color:#e88c91}
.conference-anonce {margin:30px 0 0 0; font-size:18px; line-height:27px}
.conference-anonce p {margin:18px 0 0 0; padding:0}

@media screen and (max-width:1023px) {
    .conference-subtitle {font-size:28px; line-height:35px; margin-top:-27px}
    .conference-anonce {margin:30px 0 0 0; font-size:20px; line-height:36px}
    .conference-anonce p {margin:10px 0 0 0}
}

.conference-features {margin:54px -15px 0 -15px; font-size:0; line-height:0; letter-spacing:-1px}
.conference-feature {display:inline-block; vertical-align:top; width:33.33%; padding:0 15px}
.conference-feature-title {font-size:27px; line-height:42px; font-weight:600; color:#000; letter-spacing:0}
.conference-feature-text {font-size:18px; line-height:27px; color:#504f4f; letter-spacing:0; margin:10px 0 0 0}
.conference-feature-text p {margin:10px 0 0 0; padding:0}
.conference-health {margin:42px 0 0 0; line-height:0}

@media screen and (max-width:1023px) {
    .conference-features {margin:40px 0 0 0}
    .conference-feature {display:block; width:auto; padding:0; margin:30px 0 0 0}
    .conference-feature-text {font-size:20px; line-height:36px}
    .conference-health {display:none}
}

.conference-section-title {margin:100px 0 0 0; font-weight:900; font-size:40px; line-height:52px; color:#000}
.conference-section-text {margin:21px 0 0 0; font-size:18px; line-height:27px; color:#000}

@media screen and (max-width:1023px) {
    .conference-section-title {margin:80px 0 0 0; font-size:32px; line-height:42px}
    .conference-section-text {margin:10px 0 0 0; font-size:20px; line-height:36px}
}

.conference-section-partners {margin:26px -10px 0 -10px; font-size:0; line-height:0; letter-spacing:-1px}
.conference-section-partner {display:inline-block; vertical-align:top; width:20%; padding:20px 10px 0 10px}
.conference-section-partner-inner {display:block; height:212px; background:#f8f7f6; text-align:center; padding:10px; line-height:192px}
a.conference-section-partner-inner:hover {transition:all 0.2s; transform:translateY(-5px)}
.conference-section-partner-inner img {display:inline-block; vertical-align:middle; max-width:100%; max-height:100%}

@media screen and (max-width:1023px) {
    .conference-section-partners {margin:0 -10px}
    .conference-section-partner {width:50%}
}

.conference-section-speakers {margin:0 -15px; font-size:0; line-height:0; letter-spacing:-1px}
.conference-section-speaker {display:inline-block; vertical-align:top; width:25%; padding:50px 15px 0 15px}
.conference-section-speaker-inner {display:block; text-decoration:none; color:#000}
a.conference-section-speaker-inner:hover {color:#000; transition:all 0.2s; transform:translateY(-5px); text-decoration:none}
.conference-section-speaker-photo img {display:block; width:100%}
.conference-section-speaker-name {font-weight:600; font-size:24px; line-height:31px; letter-spacing:0; margin:30px 0 0 0}
.conference-section-speaker-text {font-size:16px; line-height:24px; letter-spacing:0; margin:10px 0 0 0}
.conference-section-speakers-more {display:none}

@media screen and (max-width:1023px) {
    .conference-section-speakers {margin:0 -10px}
    .conference-section-speaker {width:50%; padding:16px 10px 24px 10px}
    .conference-section-speaker+.conference-section-speaker+.conference-section-speaker+.conference-section-speaker+.conference-section-speaker+.conference-section-speaker+.conference-section-speaker+.conference-section-speaker+.conference-section-speaker+.conference-section-speaker+.conference-section-speaker {display:none}
    .conference-section-speaker-name {font-size:20px; line-height:26px; margin:20px 0 0 0}
    .conference-section-speaker-text {display:none}
    .conference-section-speakers-more {padding:38px 10px 0 10px}
    .conference-section-speakers-more.visible {display:block}
    .conference-section-speakers-more a {display:block; height:47px; text-decoration:none; border:2px solid #000; color:#000; font-weight:500; font-size:18px; line-height:43px; text-transform:uppercase; letter-spacing:0.03em; text-align:center}
}

.stream-counter {background:#25176f; padding:160px 0 170px 0; margin:-40px 0 97px 0}
.stream-counter-title {font-weight:900; font-size:66px; line-height:66px; color:#ff2f66}
.stream-counter-subtitle {margin:20px 0 0 0; font-weight:900; font-size:50px; line-height:50px; color:#fff}
.stream-counter-container {margin:87px 0 0 0; color:#fff}
.stream-counter-container::after {content:""; display:block; clear:both}
.stream-counter-item {float:left}
.stream-counter-item-value {font-weight:900; font-size:120px; line-height:120px}
.stream-counter-item-text {margin:19px 0 0 0; font-weight:300; font-size:40px; line-height:40px}

@media screen and (max-width:1159px) {
    .stream-counter {padding:50px 0 85px 0; margin:-40px 0 48px 0}
    .stream-counter-title {font-size:40px; line-height:48px}
    .stream-counter-subtitle {margin:9px 0 0 0; font-size:30px; line-height:36px}
    .stream-counter-container {margin:52px 0 0 0; color:#fff}
    .stream-counter-item-value {font-size:55px; line-height:55px}
    .stream-counter-item-text {margin:10px 0 0 0; font-size:20px; line-height:20px}
}

@media screen and (max-width:479px) {
    .stream-counter-title {font-size:30px; line-height:36px}
    .stream-counter-subtitle {font-size:20px; line-height:24px}
    .stream-counter-item-value {font-size:30px; line-height:36px}
    .stream-counter-item-text {font-size:16px; line-height:24px}
}

.stream-video {display:none; margin:160px 0 97px 0; position:relative; z-index:102}
.stream-video-title {font-weight:900; font-size:66px; line-height:66px; color:#ff2f66}
.stream-video-subtitle {margin:20px 0 0 0; font-weight:900; font-size:50px; line-height:50px; color:#000}
.stream-video-player {margin:73px 0 0 0; background:#000; position:relative; height:100vh}
.stream-video-player iframe {position:absolute; left:0; top:0; width:100%; height:100%}

@media screen and (max-width:1159px) {
    .stream-video {display:none; margin:50px 0 48px 0; z-index:auto}
    .stream-video-title {font-size:40px; line-height:48px}
    .stream-video-subtitle {margin:9px 0 0 0; font-size:30px; line-height:36px}
    .stream-video-player {margin:38px 0 0 0; height:302px}
}

@media screen and (max-width:479px) {
    .stream-video-title {font-size:30px; line-height:36px}
    .stream-video-subtitle {font-size:20px; line-height:24px}
}

.main-conf {margin:77px 0 114px 0}
.main-conf+.stream-counter {margin-top:0}
.main-conf+.stream-counter+.stream-video {margin-top:0}
.main-conf-title {font-weight:bold; font-size:50px; line-height:60px; color:#000; margin:14px 0 0 0; max-width:750px}
.main-conf-subtitle {font-weight:500; font-size:24px; line-height:29px; color:#777}
.main-conf-header {margin:23px 0 0 0}
.main-conf-header::after {content:""; display:block; clear:both}
.main-conf-date {float:left; font-weight:500; font-size:24px; line-height:29px; color:#000}
.main-conf-speakers {margin:46px 0 0 0}
.main-conf-speakers-list {margin:0 -15px; font-size:0; line-height:0; letter-spacing:-1px; white-space:nowrap; position:relative; overflow:hidden}
.main-conf-speaker {display:inline-block; vertical-align:top; width:25%; padding:5px 15px 0 15px; white-space:normal}
.main-conf-speaker-inner {display:block; text-decoration:none; color:#000}
a.main-conf-speaker-inner:hover {color:#000; transition:all 0.2s; transform:translateY(-5px); text-decoration:none}
.main-conf-speaker-photo img {display:block; width:100%}
.main-conf-speaker-name {font-weight:600; font-size:24px; line-height:31px; letter-spacing:0; margin:30px 0 0 0}
.main-conf-speakers-more {display:none}
.main-conf-text {margin:50px 0 0 0; color:#000; font-size:20px; line-height:30px}
.main-conf-text p {margin:8px 0 0 0; padding:0}
.main-conf-link {float:right; margin:-43px 0 0 0}
.main-conf-link a {display:inline-block; height:65px; text-decoration:none; border:3px solid #000; color:#000; padding:0 27px; font-weight:600; font-size:20px; line-height:61px; text-transform:uppercase; letter-spacing:0.03em; text-align:center; transition:all 0.2s}
.main-conf-link a:hover {color:#fff; background:#000}

@media screen and (max-width:1023px) {
    .main-conf {margin:48px 0 65px 0; padding:0 0 96px 0; position:relative}
    .main-conf+.stream-counter {margin-top:0}
    .main-conf+.stream-counter+.stream-video {margin-top:0}
    .main-conf-title {font-size:30px; line-height:36px; margin:12px 0 0 0}
    .main-conf-subtitle {font-size:20px; line-height:24px}
    .main-conf-header {margin:12px 0 0 0}
    .main-conf-date {float:none; font-size:20px; line-height:30px}
    .main-conf-speakers {margin:10px 0 0 0}
    .main-conf-speakers-list {margin:0 -10px; white-space:normal}
    .main-conf-speaker {display:none; width:50%; padding:20px 10px 0 10px}
    .main-conf-speaker:nth-child(1),
    .main-conf-speaker:nth-child(2),
    .main-conf-speaker.visible {display:inline-block}
    .main-conf-speaker-name {font-size:20px; line-height:26px; margin:20px 0 0 0}
    .main-conf-link {margin:0; float:none; position:absolute; left:15px; bottom:0; right:15px}
    .main-conf-link a {display:block; padding:0}
    .main-conf-text {margin:30px 0 0 0; font-size:24px; line-height:36px}
    .main-conf-text p {margin:10px 0 0 0; padding:0}
    .main-conf-speakers-more {margin:26px 0 0 0}
    .main-conf-speakers-more.visible {display:block}
    .main-conf-speakers-more a {display:block; height:65px; text-decoration:none; border:3px solid #000; color:#000; font-weight:600; font-size:20px; line-height:61px; text-transform:uppercase; letter-spacing:0.03em; text-align:center; transition:all 0.2s}
    .main-conf-speakers-more a:hover {color:#fff; background:#000}
}

@media screen and (max-width:479px) {
    .main-conf-title {font-size:20px; line-height:30px}
    .main-conf-subtitle {font-size:20px; line-height:30px}
    .main-conf-speakers-more a {font-size:16px; height:47px; line-height:41px}
    .main-conf-link a {font-size:16px; height:47px; line-height:41px}
}

.main-conf-speakers-list .slick-prev,
.main-conf-speakers-list .slick-next {display:block; position:absolute; z-index:2; top:108px; width:60px; height:56px; border:none; border-radius:0; margin:0; padding:0; outline:none; -webkit-appearance:none; cursor:pointer; transition:all 0.2s}
.main-conf-speakers-list .slick-prev {left:14px; background:url(../images/main-conf-speakers-list-prev.png) no-repeat}
.main-conf-speakers-list .slick-next {right:14px; background:url(../images/main-conf-speakers-list-next.png) no-repeat}
.main-conf-speakers-list .slick-prev.slick-disabled,
.main-conf-speakers-list .slick-next.slick-disabled {display:none !important}
.main-conf-speakers-list .slick-prev:hover,
.main-conf-speakers-list .slick-next:hover {opacity:0.8}

body {overflow-anchor: none}

.btn {display:inline-block; vertical-align:top; margin:0; padding:10px 18px 9px 18px; overflow:visible; outline:none; text-decoration:none; background:transparent; color:#000; border:2px solid #000; border-radius:0; font:600 14px/21px Arial, Helvetica, sans-serif; letter-spacing:0.05em; text-transform:uppercase; text-align:center; position:relative; -webkit-appearance:none; cursor:pointer; transition:all 0.2s; box-sizing:border-box}
.fonts-loaded .btn {font-family:GraphikLCG, sans-serif}
.btn:hover {color:#000; border-color:#bdbdbd}
.btn:active {color:#000; background:#ededed; border-color:#000}
.btn span {margin:0 0 0 10px; font-weight:normal}
.btn svg {display:inline-block; vertical-align:middle; margin:-2px 10px 0 0; fill:none; stroke:#2b2b2b}

.btn-icon-programm {width:24px; height:24px}

.main-block {margin:120px 0 0 0}

@media screen and (max-width:1199px) {
    .main-block {margin:80px 0 0 0}
}

.main-header::after {content:""; display:block; clear:both}
.main-header h2 {float:left; margin:0}
.main-header-link {float:right}
.main-mobile-link {display:none}

@media screen and (max-width:1199px) {
    .main-header h2 {float:none}
    .main-header-link {display:none}
    .main-mobile-link {display:block; margin:40px 0 0 0}
}

.analytics-menu {background:#f5f5f5; font-size:0; line-height:0; letter-spacing:-1px; text-align:center; height:60px}
.analytics-menu ul {margin:0; padding:0; list-style:none; display:inline-block; vertical-align:top}
.analytics-menu ul li {display:inline-block; vertical-align:top; margin:0 0 0 60px; padding:0}
.analytics-menu ul li:first-child {margin:0}
.analytics-menu ul li::before {display:none}
.analytics-menu ul li a {display:inline-block; vertical-align:top; position:relative; font-weight:500; font-size:14px; line-height:60px; letter-spacing:0; text-transform:uppercase; text-decoration:none}
.analytics-menu ul li.active a::after {content:""; display:block; position:absolute; left:0; top:43px; right:0; height:2px; background:#363434}

@media screen and (max-width:1199px) {
    .analytics-menu {background:none; height:77px; padding:40px 0 0 0; text-align:left; overflow:auto; position:relative; white-space:nowrap}
    .analytics-menu ul {padding:0 10px 0 0}
    .analytics-menu ul li {margin:0 0 0 10px}
    .analytics-menu ul li:first-child {margin:0}
    .analytics-menu ul li a {line-height:37px; height:37px; padding:0 14px; background:#f0f0f0; color:#000}
    .analytics-menu ul li.active a {background:#000; color:#fff}
    .analytics-menu ul li.active a::after {display:none}
    .analytics-menu .mCSB_horizontal.mCSB_inside > .mCSB_container {margin:0}
    .analytics-menu .mCSB_scrollTools.mCSB_scrollTools_horizontal {visibility:hidden}
}

.page-analytics {margin:60px 0}
.page-analytics a {color:#000}
.page-analytics a:hover {color:#ff2f66; text-decoration:none}
.analytics-menu a {color:#000}
.analytics-menu a:hover {color:#ff2f66; text-decoration:none}
.page-analytics img,
.window img {max-width:100%}

@media screen and (max-width:1199px) {
    .page-analytics {margin:34px 0 0 0}
}

.analytics-about {margin:52px 0 0 0}
.analytics-about::after {content:""; display:block; clear:both}
.analytics-about-text {float:left; max-width:569px; font-weight:500; font-size:30px; line-height:39px; color:#000}
.analytics-about-descr {float:right; max-width:492px}
.analytics-about-descr > *:first-child {margin-top:0}
.analytics-about-descr > *:last-child {margin-bottom:0}

@media screen and (max-width:1199px) {
    .analytics-about {margin:40px 0 0 0}
    .analytics-about-text {float:none; max-width:none}
    .analytics-about-descr {float:none; max-width:none; margin:20px 0 0 0}
}

.analytics-directions {margin:60px -40px 0 -40px}
.analytics-directions-inner {display:table; width:100%; border-collapse:collapse; table-layout:fixed}
.analytics-direction {display:table-cell; vertical-align:top; padding:0 40px; width:33.33%; border-left:1px solid #d7d7d7}
.analytics-direction:first-child {border-left:none}
.analytics-direction-icon {height:56px; line-height:0}
.analytics-direction-title {font-weight:500; font-size:22px; line-height:29px; color:#000}

@media screen and (max-width:1199px) {
    .analytics-directions {margin:40px 0 0 0}
    .analytics-directions-inner {display:block}
    .analytics-direction {display:block; padding:26px 0 0 0; margin:26px 0 0 0; width:auto; border-left:none; border-top:1px solid #d4d4d4}
    .analytics-direction:first-child {padding:0; margin:0; border-top:none}
    .analytics-direction-icon {height:60px}
    .analytics-direction-title {font-size:24px; line-height:31px}
}

.analytics-team-list {margin:0 -10px; font-size:0; line-height:0; letter-spacing:-1px}
.analytics-team-item {display:inline-block; vertical-align:top; width:25%; padding:40px 10px 0 10px; color:#000}
.analytics-team-item a {display:block; text-decoration:none}
.analytics-team-photo {position:relative}
.analytics-team-photo img {display:block; width:100%}
.analytics-team-photo span {display:block; position:absolute; left:0; bottom:0; background:#fff; border:1px solid #dcdcdc; padding:5px 9px; color:#000; font-weight:500; font-size:12px; line-height:16px; letter-spacing:0.05em; text-transform:uppercase}
.analytics-team-name {margin:18px 0 0 0; font-weight:600; font-size:20px; line-height:26px; letter-spacing:0}

@media screen and (max-width:1199px) {
    .analytics-team-list {margin:0 -10px -10px -10px}
    .analytics-team-item {width:50%; padding:30px 10px 10px 10px}
    .analytics-team-photo span {display:none}
    .analytics-team-name {margin:19px 0 0 0}
}

@media screen and (max-width:479px) {
    .analytics-team-item {width:100%}
}

.analytics-contacts-text {float:right; width:50%; padding:0 120px 0 10px}
.analytics-contacts {float:left; width:50%; padding:50px 0 0 0}
.analytics-contacts-item {margin:20px 0 0 0; font-size:16px; line-height:24px; color:#000}
.analytics-contacts-item:first-child {margin:0}
.analytics-contacts-item::after {content:""; display:block; clear:both}
.analytics-contacts-item-name {float:left; clear:left; font-weight:600}
.analytics-contacts-item-value {font-weight:300; margin:0 0 0 184px}
.analytics-contacts-social {float:right; clear:right; width:50%; padding:36px 0 0 10px}
.analytics-contacts-social-item {float:left; margin:0 0 0 30px}
.analytics-contacts-social-item:first-child {margin:0}
.analytics-contacts-social-item svg {display:block; width:46px; height:46px; fill:#000; transition:fill 0.2s}
.analytics-contacts-social-item a:hover svg {fill:#ff2f66}
.analytics-contacts-address {margin:60px 0 0 0; border-top:1px solid #d9d9d9; padding:30px 0}
.analytics-contacts-address::after {content:""; display:block; clear:both}
.analytics-contacts-address-title {float:left; font-weight:600; font-size:30px; line-height:39px; color:#000}
.analytics-contacts-address-value {float:right; width:50%; padding:12px 0 0 50px; position:relative; font-weight:500; color:#000}
.analytics-contacts-address-value svg {display:block; position:absolute; left:10px; top:13px; width:25px; height:25px; stroke:#25282b; fill:none}

@media screen and (max-width:1199px) {
    .analytics-contacts-text {float:none; width:auto; padding:0; margin:20px 0 0 0}
    .analytics-contacts {float:none; width:auto; padding:0; margin:20px 0 0 0}
    .analytics-contacts-item {margin:14px 0 0 0; font-size:20px; line-height:30px}
    .analytics-contacts-item-name {float:none}
    .analytics-contacts-item-value {margin:0}
    .analytics-contacts-social {float:none; width:auto; padding:0; margin:30px 0 0 0}
    .analytics-contacts-address {display:none}
}

.analytics-partner {margin:40px 0 0 0; display:table; max-width:834px}
.analytics-partner-logo {display:table-cell; vertical-align:middle; width:178px}
.analytics-partner-logo-inner {width:178px; height:178px; background:#f8f7f6; text-align:center; line-height:178px; position:relative}
.analytics-partner-logo-inner img {display:inline-block; vertical-align:middle; max-height:100%}
.analytics-partner-logo-inner span {display:block; position:absolute; left:0; bottom:12px; right:0; font-size:10px; line-height:14px; font-weight:300; text-transform:uppercase; color:#5a5a5a}
.analytics-partner-text {display:table-cell; vertical-align:middle; padding:0 0 0 49px}

@media screen and (max-width:1199px) {
    .analytics-partner {margin:30px 0 0 0; max-width:none}
    .analytics-partner-logo {width:210px}
    .analytics-partner-logo-inner {width:210px; height:210px; line-height:210px}
    .analytics-partner-text {padding:0 0 0 20px; font-size:16px; line-height:24px}
}

@media screen and (max-width:479px) {
    .analytics-partner {display:block}
    .analytics-partner-logo {display:block; width:210px; margin:0 auto}
    .analytics-partner-text {display:block; padding:20px 0 0 0}
}

.analytics-location {margin:0 0 -60px 0; position:relative; height:653px}
.analytics-location-map {position:absolute; left:0; top:0; right:0; bottom:0}
.analytics-location-info {position:absolute; left:0; top:50%; right:0; height:0; z-index:2}
.analytics-location-info .container::after {display:none}
.analytics-location-info-inner {float:left; transform:translateY(-50%); width:420px; background:#ffffff; border:1px solid #d0d0d0; box-shadow:3px 4px 20px rgba(47, 47, 47, 0.1)}
.analytics-location-info-container {padding:20px 20px 14px 20px}
.analytics-location-info-title {text-transform:uppercase; font-size:12px; line-height:18px; letter-spacing:0.05em; text-transform:uppercase; color:#7b7b7b}
.analytics-location-info-name {margin:13px 0 0 0; font-weight:600; font-size:22px; line-height:22px; color:#000}
.analytics-location-info-address {margin:6px 0 0 0}
.analytics-location-info-coords {margin:20px 0 0 0; font-size:14px; line-height:21px; text-align:right}
.analytics-location-info-coords span {cursor:pointer}
.analytics-location-info-coords svg {display:inline-block; vertical-align:middle; margin:-2px 0 0 10px; width:16px; height:16px; fill:#000; opacity:0.2; transition:opacity 0.2s}
.analytics-location-info-coords span:hover svg {opacity:0.4}
.analytics-location-info-btn a {display:block; height:44px; background:#000; text-decoration:none; color:#fff; text-align:center; text-transform:uppercase; font-weight:500; font-size:14px; line-height:44px; letter-spacing:0.05em}
.analytics-location-info-btn a:hover {background:#ff2f66}
.analytics-location-info-btn a svg {display:inline-block; vertical-align:middle; margin:-2px 0 0 6px; width:38px; height:8px; fill:#fff}

@media screen and (max-width:1199px) {
    .analytics-location {margin:80px 0 0 0; height:auto}
    .analytics-location-map {position:relative; left:auto; top:auto; right:auto; bottom:auto; height:653px; margin:-22px -20px 0 -20px}
    .analytics-location-info {position:relative; left:auto; top:auto; right:auto; height:auto}
    .analytics-location-info-inner {float:none; transform:none; width:auto}
    .analytics-location-info-container {padding:20px}
    .analytics-location-info-title {font-size:14px; line-height:21px}
    .analytics-location-info-name {margin:12px 0 0 0; font-size:24px; line-height:24px}
    .analytics-location-info-address {margin:8px 0 0 0}
    .analytics-location-info-coords {font-size:16px; line-height:24px}
}

.analytics-news {margin:40px 0 0 0; max-width:870px}
.analytics-news-item {margin:40px 0 0 0; padding:0 0 40px 0; border-bottom:1px solid #d9d9d9}
.analytics-news-item:first-child {margin:0}
.analytics-news-item-date {font-weight:500; font-size:12px; line-height:14px; color:#000; text-transform:uppercase}
.analytics-news-item-title {font-weight:500; font-size:22px; line-height:31px; margin:10px 0 0 0}
.analytics-news-item-title a {text-decoration:none}
.analytics-news-item-text {margin:10px 0 0 0; font-size:16px; line-height:24px}

@media screen and (max-width:1199px) {
    .analytics-news {max-width:none}
    .analytics-news-item-date {font-size:16px; line-height:19px}
    .analytics-news-item-title {font-size:24px; line-height:34px}
    .analytics-news-item-text {font-size:20px; line-height:30px}
}

.main-block .analytics-news {margin:54px 0 0 0}
.main-block .analytics-news-item:last-child {padding:0; border-bottom:none}

.page-analytics .pager {text-align:left; margin:40px 0 0 0}

.analytics-library {margin:70px 0 0 0}
.analytics-library+.analytics-library {margin:120px 0 0 0}
.analytics-library h2 {font-weight:900}
.analytics-library h2 span {font-weight:500}
.analytics-library-list {margin:66px 0 0 0}
.analytics-library-item {margin:60px 0 0 0; background:#fbf5f6; padding:40px 83px 40px 40px}
.analytics-library-item:nth-child(odd) {background:rgba(124, 183, 250, 0.12)}
.analytics-library-item::after {content:""; display:block; clear:both}
.analytics-library-item-content {float:left; width:calc(100% - 420px)}
.analytics-library-item-title {font-weight:500; font-size:22px; line-height:31px; color:#000}
.analytics-library-item-download {margin:20px 0 0 0}
.analytics-library-item-preview {float:right; margin:-80px 0 0 0; width:267px; line-height:0; text-align:right}
.analytics-library-item-preview img {height:175px}
.analytics-library-more {margin:60px 0 0 0}
.analytics-library-more a {display:block; height:60px; background:#f4f4f4; text-align:center; text-decoration:none; text-transform:uppercase; color:#717171; font-weight:500; font-size:14px; line-height:60px; letter-spacing:0.05em}
.analytics-library-more a:hover {color:#000}

@media screen and (max-width:1199px) {
    .analytics-library {margin:40px 0 0 0}
    .analytics-library+.analytics-library {margin:70px 0 0 0}
    .analytics-library::after {content:""; display:block; margin:152px -20px 0 -20px; height:6px; background:#e5e5e5}
    .analytics-library-list {margin:40px 0 0 0}
    .analytics-library-item {margin:0 -20px 205px -20px; padding:50px 20px 196px 20px; position:relative; text-align:center}
    .analytics-library-item-content {float:none; width:auto}
    .analytics-library-item-title {font-size:24px; line-height:31px}
    .analytics-library-item-download .btn {display:inline-block; width:auto; padding-left:20px; padding-right:20px}
    .analytics-library-item-preview {position:absolute; left:50%; bottom:-145px; width:330px; height:290px; line-height:0; text-align:center; float:none; margin:0 0 0 -165px}
    .analytics-library-item-preview img {height:auto; max-height:100%; max-width:100%}
}

@media screen and (max-width:479px) {
    .analytics-library-item-preview {width:300px; margin:0 0 0 -150px}
}

.analytics-sources {margin:50px 0 0 0; max-width:869px}
.analytics-source {border-top:1px solid #d9d9d9; padding:20px 0 0 0; margin:20px 0 0 0}
.analytics-source:first-child {border-top:none; padding:0; margin:0}
.analytics-source-title {font-weight:500; font-size:22px; line-height:31px; color:#000}
.analytics-source-link {margin:10px 0 0 0; font-size:16px; line-height:24px}
.analytics-source-link a {color:#4680c2; text-decoration:none}
.analytics-source-link a:hover {text-decoration:underline}

@media screen and (max-width:1199px) {
    .analytics-sources {margin:40px 0 0 0; max-width:none}
    .analytics-source-title {font-size:24px; line-height:34px}
}

.page-title+.main-block {margin:80px 0 0 0}
.analytics-services-text {float:right; width:767px}
.analytics-services {position:relative; margin:54px 0 0 0; overflow:hidden; font-size:0; line-height:0; letter-spacing:-1px}
.analytics-service {display:inline-block; vertical-align:middle; width:33.33%; position:relative; padding:44px 0 44px 39px}
.analytics-service:nth-child(1),
.analytics-service:nth-child(2),
.analytics-service:nth-child(3) {padding-top:17px}
.analytics-service:nth-last-child(1),
.analytics-service:nth-last-child(2),
.analytics-service:nth-last-child(3) {padding-bottom:17px}
.analytics-service:nth-child(3n-2) {padding-left:0}
.analytics-service:nth-child(3n-1)::before,
.analytics-service:nth-child(3n)::before {content:""; display:block; position:absolute; left:0; top:-999px; bottom:-999px; width:1px; background:#d7d7d7}
.analytics-service:nth-child(3n-1)::after {content:""; display:block; position:absolute; left:-999px; top:0; right:-999px; height:1px; background:#d7d7d7}
.analytics-service:nth-child(2)::after {display:none}
.analytics-service-inner {display:table}
.analytics-service-icon {display:table-cell; vertical-align:middle; width:106px}
.analytics-service-icon-inner {width:106px}
.analytics-service-text {display:table-cell; vertical-align:middle; font-size:18px; line-height:23px; letter-spacing:0; color:#000; width:189px}

@media screen and (max-width:1199px) {
    .page-title+.main-block {margin:40px 0 0 0}
    .analytics-services-text {float:none; width:auto; margin:20px 0 0 0}
    .analytics-services {margin:40px 0 0 0; overflow:visible}
    .analytics-services::after {content:""; display:block; margin:80px -20px 0 -20px; height:6px; background:#e5e5e5}
    .analytics-service {display:block; width:auto; margin:30px 0 0 0; padding:30px 0 0 0; border-top:1px solid #d4d4d4}
    .analytics-service:nth-child(1) {margin:0; padding:0; border-top:none}
    .analytics-service:nth-child(2),
    .analytics-service:nth-child(3) {padding-top:30px}
    .analytics-service:nth-last-child(1),
    .analytics-service:nth-last-child(2),
    .analytics-service:nth-last-child(3) {padding-bottom:0}
    .analytics-service:nth-child(3n-1)::before,
    .analytics-service:nth-child(3n)::before {display:none}
    .analytics-service:nth-child(3n-1)::after {display:none}
    .analytics-service-icon {width:126px}
    .analytics-service-icon-inner {width:126px}
    .analytics-service-text {font-size:20px; line-height:26px; width:auto}
}

.analytics-programm-tabs-menu {margin:50px 0 0 0; font-weight:bold; font-size:22px; line-height:22px}
.analytics-programm-tabs-menu-current {display:none}
.analytics-programm-tabs-menu ul {border-bottom:2px solid #dfdfdf; margin:0; padding:0; list-style:none}
.analytics-programm-tabs-menu ul::after {content:""; display:block; clear:both}
.analytics-programm-tabs-menu ul li {float:left; margin:0 0 0 40px; padding:0}
.analytics-programm-tabs-menu ul li:first-child {margin:0}
.analytics-programm-tabs-menu ul li::before {display:none}
.analytics-programm-tabs-menu ul li a {display:block; padding:0 0 12px 0; position:relative; color:#c1c1c1; text-decoration:none}
.analytics-programm-tabs-menu ul li.active a,
.analytics-programm-tabs-menu ul li a:hover {color:#000}
.analytics-programm-tabs-menu ul li a::after {content:""; display:block; position:absolute; left:0; bottom:-2px; right:0; height:3px; background:#1c1c1c; transform:scale(0, 1); transform-origin:left center; transition:all 0.2s}
.analytics-programm-tabs-menu ul li.active a::after {transform:scale(1, 1)}

@media screen and (max-width:1199px) {
    .analytics-programm-tabs-menu {margin:20px -20px 0 -20px; font-weight:600; font-size:20px; line-height:26px; position:relative}
    .analytics-programm-tabs-menu.open {z-index:90}
    .analytics-programm-tabs-menu-current {display:block; position:relative; border-top:2px solid #dbdbdb; border-bottom:2px solid #dbdbdb; cursor:pointer; padding:18px 0 18px 20px; color:#000}
    .analytics-programm-tabs-menu-current svg {display:block; width:24px; height:24px; position:absolute; top:19px; right:15px; fill:none; stroke:#2b2b2b}
    .analytics-programm-tabs-menu ul {display:none; position:absolute; left:0; top:100%; right:0; background:#fff; border-bottom:2px solid #dbdbdb}
    .analytics-programm-tabs-menu.open ul {display:block}
    .analytics-programm-tabs-menu ul li {float:none; margin:0; border-top:1px solid #dbdbdb}
    .analytics-programm-tabs-menu ul li:first-child {border-top:none}
    .analytics-programm-tabs-menu ul li a {padding:18px 0 18px 20px}
    .analytics-programm-tabs-menu ul li a::after {display:none}
}

.analytics-programm-tabs {margin:30px 0 0 0; position:relative}
.analytics-programm-tab {position:absolute; left:-9999px; top:-9999px; width:100%; opacity:0; transition:opacity 0.75s ease, transform 0.75s ease; transform:translateY(20px)}
.analytics-programm-tab.active {position:relative; left:auto; top:auto; opacity:1; transform:none}

@media screen and (max-width:1199px) {
    .analytics-programm-tabs {margin:20px 0 0 0}
    .analytics-programm-tabs::after {content:""; display:block; margin:50px -20px 0 -20px; height:6px; background:#e5e5e5}
}

.analytics-programm-item {margin:40px 0 0 0; padding:40px 40px 40px 40px; position:relative; background:rgba(181, 88, 113, 0.06)}
.analytics-programm-item:first-child {margin-top:0}
.analytics-programm-item-with-preview {margin-bottom:90px}
.analytics-programm-item-with-preview:last-child {margin-bottom:170px}
.analytics-programm-item:nth-child(odd) {background:rgba(124, 183, 250, 0.12)}
.analytics-programm-item::after {content:""; display:block; clear:both}
.analytics-programm-item-content {float:left; width:calc(100% - 310px)}
.analytics-programm-item-title {font-weight:500; font-size:22px; line-height:31px; color:#000}
.analytics-programm-item-download {float:right}
.analytics-programm-item-text {padding:0 0 0 30px; margin:14px 0 0 0; font-size:16px; line-height:24px; position:relative}
.analytics-programm-item-text::before {content:""; display:block; position:absolute; left:0; top:5px; bottom:7px; width:2px; background:#c4c4c4}
.analytics-programm-item-text p {margin:10px 0 0 0}
.analytics-programm-item-text ul {margin:10px 0 0 0}
.analytics-programm-item-text ul li {margin:10px 0 0 0; padding:0 0 0 14px}
.analytics-programm-item-text ul li:first-child {margin:0}
.analytics-programm-item-text ul li::before {top:9px}
.analytics-programm-item-text > *:first-child {margin-top:0}
.analytics-programm-item-text > *:last-child {margin-bottom:0}
.analytics-programm-item-text a {color:#4680c2; text-decoration:none}
.analytics-programm-item-text a:hover {text-decoration:underline}
.analytics-programm-item-preview {margin:20px 0 -90px -10px; font-size:0; line-height:0; letter-spacing:-1px}
.analytics-programm-item-preview img {display:inline-block; vertical-align:top; height:100px; margin:10px 0 0 10px}

@media screen and (max-width:1199px) {
    .analytics-programm-item {margin:50px -20px 0 -20px; padding:40px 20px}
    .analytics-programm-item-with-preview {margin-bottom:98px; padding-bottom:90px}
    .analytics-programm-item-with-preview:last-child {margin-bottom:98px}
    .analytics-programm-item-content {float:none; width:auto}
    .analytics-programm-item-title {font-size:24px; line-height:31px}
    .analytics-programm-item-download {float:none; margin:30px 0 0 0}
    .analytics-programm-item-download .btn {width:auto; display:inline-block; padding-left:20px; padding-right:20px}
    .analytics-programm-item-text {padding:0; margin:20px 0 0 0; font-size:20px; line-height:30px; color:#272727}
    .analytics-programm-item-text::before {display:none}
    .analytics-programm-item-preview {margin:0 0 0 10px; position:absolute; left:0; bottom:-50px; white-space:nowrap}
}

.analytics-mission-text {float:right; width:570px}
.analytics-missions {margin:60px 0 0 0}
.analytics-mission {margin:40px 0 0 0; background:#eff6fe; padding:30px 40px 40px 40px}
.analytics-mission:nth-child(odd) {background:#fbf5f6}
.analytics-mission-header::after {content:""; display:block; clear:both}
.analytics-mission-partner {float:right; width:420px; background:#fff; padding:20px}
.analytics-mission-partner-inner {display:table}
.analytics-mission-partner-logo {display:table-cell; vertical-align:middle; text-align:center; width:83px}
.analytics-mission-partner-logo-inner {width:83px; line-height:0}
.analytics-mission-partner-content {display:table-cell; vertical-align:middle; padding:0 0 0 20px}
.analytics-mission-partner-title {font-weight:500; font-size:16px; line-height:24px; color:#000}
.analytics-mission-partner-name {margin:4px 0 0 0; font-weight:300; font-size:16px; line-height:24px; color:#000}
.analytics-mission-title {float:left; margin:6px 0 0 0; font-weight:500; font-size:22px; line-height:31px; color:#000; width:calc(100% - 510px)}
.analytics-mission-container {margin:30px 0 0 0; background:#fff; padding:40px}
.analytics-mission-content {display:table; width:100%}
.analytics-mission-col {display:table-cell; vertical-align:top; border-left:1px solid #dfdfdf; padding:0 40px}
.analytics-mission-col:nth-child(1) {border-left:none; padding:0 40px 0 0; width:21.5%}
.analytics-mission-col:nth-child(2) {width:41.2%}
.analytics-mission-col:nth-child(3) {padding:0 0 0 40px; width:37.3%}
.analytics-mission-col-title {text-transform:uppercase; font-weight:600; font-size:12px; line-height:18px; letter-spacing:0.03em; color:#000}
.analytics-mission-col-text {margin:10px 0 0 0; font-size:16px; line-height:24px}
.analytics-mission-col-dates {margin:10px 0 0 0; font-weight:500; line-height:18px; color:#000}

@media screen and (max-width:1199px) {
    .analytics-mission-text {float:none; width:auto; margin:20px 0 0 0}
    .analytics-missions {margin:40px 0 0 0}
    .analytics-mission {margin:50px -20px 0 -20px; padding:50px 20px 40px 20px}
    .analytics-mission:first-child {margin-top:0}
    .analytics-mission-partner {float:none; width:auto}
    .analytics-mission-partner-title {font-size:18px; line-height:27px}
    .analytics-mission-partner-name {margin:5px 0 0 0}
    .analytics-mission-title {float:none; margin:30px 0 0 0; font-size:24px; line-height:31px; width:auto}
    .analytics-mission-container {padding:30px 30px 40px 30px}
    .analytics-mission-content {display:block; width:auto}
    .analytics-mission-col {display:block; border-left:none; padding:0; margin:30px 0 0 0}
    .analytics-mission-col:nth-child(1) {padding:0; width:auto; margin:0}
    .analytics-mission-col:nth-child(2) {width:auto}
    .analytics-mission-col:nth-child(3) {padding:0; width:auto}
    .analytics-mission-col-title {font-size:14px; line-height:21px}
    .analytics-mission-col-text {margin:12px 0 0 0; font-size:20px; line-height:30px}
    .analytics-mission-col-dates {margin:12px 0 0 0; font-size:20px; line-height:30px}
}

.window-open,
.window-open body {overflow:hidden; position:fixed; left:0; top:0; right:0; bottom:0}

.window {position:fixed; left:0; top:0; right:0; bottom:0; overflow:auto; z-index:999; background:rgba(0, 0, 0, 0.6); text-align:center}
.window::before {content:""; display:inline-block; height:100%; vertical-align:middle}
.window-loading {position:absolute; left:0; top:0; right:0; bottom:0; background:url(../images/loading.gif) no-repeat center}
.window-container {display:inline-block; vertical-align:middle; position:relative; text-align:left; background:#fff; margin:30px 0; transition:transform 0.2s, opacity 0.2s}
.window-container-preload {opacity:0}
.window-close {display:block; position:absolute; right:0; top:0; width:58px; height:60px}
.window-close svg {display:block; position:absolute; left:50%; top:50%; width:17px; height:17px; margin:-8.5px 0 0 -8.5px; fill:none; stroke:#fff}

@media screen and (max-width:1199px) {
    .window-container {margin:60px 0}
    .window-close {top:-40px; width:21px; height:21px}
    .window-close svg {left:0; top:0; width:21px; height:21px; margin:0}
}

.window-title {background:#000; padding:18px 100px 18px 20px; color:#fff; font-weight:500; font-size:22px; line-height:22px; position:relative}

@media screen and (max-width:1199px) {
    .window-title {padding:20px 30px; font-size:20px; line-height:20px}
}

.window-title-social {display:block; position:absolute; right:58px; top:20px}
.window-title-social-icon svg {display:block; fill:none; stroke:#fff; transition:all 0.2s; width:20px; height:20px}
.window-title-social-window {display:none; position:absolute; z-index:99; left:50%; top:100%; margin:14px 0 0 -72px; padding:9px 0 0 17px; width:144px; height:47px; background:#424242; box-shadow:6px 6px 20px rgba(36, 36, 36, 0.13)}
.window-title-social-window::before {content:""; display:block; position:absolute; left:50%; top:-7px; width:14px; height:14px; background:#424242; margin-left:-7px; transform:rotate(45deg)}
.window-title-social-window::after {content:""; display:block; position:absolute; left:-1px; top:-15px; right:-1px; height:16px; background:url(../images/blank.gif)}
.window-title-social:hover .window-title-social-window {display:block}
.window-title-social-item {float:left; width:29px; margin:0 0 0 14px; position:relative}
.window-title-social-item:first-child {margin:0}
.window-title-social-item svg {display:block; width:29px; height:29px; transition:all 0.2s}
.window-title-social-item.window-title-social-item-link {background:#fff; border-radius:50%}
.window-title-social-item.window-title-social-item-link:hover {background:#ff2f66}
.window-title-social-item.window-title-social-item-link svg {stroke:#000; fill:none}
.window-title-social-item.window-title-social-item-fb svg {fill:#fff}
.window-title-social-item.window-title-social-item-vk svg {fill:#fff}
.window-title-social-item.window-title-social-item-link:hover svg {stroke:#fff}
.window-title-social-item.window-title-social-item-fb:hover svg {fill:#ff2f66}
.window-title-social-item.window-title-social-item-vk:hover svg {fill:#ff2f66}

@media screen and (max-width:1199px) {
    .window-title-social {right:49px; top:-43px}
    .window-title-social-icon svg {width:28px; height:28px}
}

.window-analytics-team {width:822px}
.window-analytics-team-container {padding:30px 30px 60px 30px}
.window-analytics-team-container::after {content:""; display:block; clear:both}
.window-analytics-team-info {float:left; width:275px}
.window-analytics-team-photo {line-height:0}
.window-analytics-team-photo img {display:block; width:100%}
.window-analytics-team-name {margin:20px 0 0 0; font-weight:600; font-size:22px; line-height:22px; color:#000}
.window-analytics-team-post {margin:12px 0 0 0}
.window-analytics-team-email {margin:12px 0 0 0}
.window-analytics-team-email a {text-decoration:none}
.window-analytics-team-social {margin:30px 0 0 0}
.window-analytics-team-social::after {content:""; display:block; clear:both}
.window-analytics-team-social-item {float:left; width:29px; margin:0 0 0 14px}
.window-analytics-team-social-item:first-child {margin:0}
.window-analytics-team-social-item svg {display:block; width:29px; height:29px; fill:#424242; transition:fill 0.2s}
.window-analytics-team-social-item a:hover svg {fill:#ff2f66}
.window-analytics-team-text {float:right; width:420px}
.window-analytics-team-text h6 {margin:40px 0 12px 0}
.window-analytics-team-text p {margin:12px 0}
.window-analytics-team-text > *:first-child {margin-top:0}
.window-analytics-team-text > *:last-child {margin-bottom:0}

@media screen and (max-width:1199px) {
    .window-analytics-team {width:440px}
    .window-analytics-team-container {padding:40px 20px 39px 20px}
    .window-analytics-team-info {float:none; width:auto; text-align:center}
    .window-analytics-team-photo {width:209px; margin:0 auto}
    .window-analytics-team-name {margin:30px 0 0 0; font-size:30px; line-height:30px}
    .window-analytics-team-post {margin:10px 0 0 0}
    .window-analytics-team-email {margin:6px 0 0 0}
    .window-analytics-team-social {margin:27px 0 0 0; font-size:0; line-height:0; letter-spacing:-1px}
    .window-analytics-team-social-item {float:none; display:inline-block; vertical-align:top; width:46px; margin:0 0 0 22px}
    .window-analytics-team-social-item:first-child {margin:0}
    .window-analytics-team-social-item svg {width:46px; height:46px}
    .window-analytics-team-text {float:none; width:auto; margin:30px -20px 0 -20px; padding:40px 20px 0 20px; border-top:1px solid #d9d9d9}
    .window-analytics-team-text h6 {margin:40px 0 20px 0}
    .window-analytics-team-text p {margin:20px 0}
    .window-analytics-team-text > *:first-child {margin-top:0}
    .window-analytics-team-text > *:last-child {margin-bottom:0}
}

@media screen and (max-width:479px) {
    .window-analytics-team {width:300px}
}

.analytics-team-prev {display:block; position:fixed; left:50%; top:50%; margin-left:-482px; z-index:999; width:40px; height:40px; border:1px solid #d2d2d2; background:#fff; transform:translateY(-50%); transition:border-color 0.2s}
.analytics-team-next {display:block; position:fixed; left:50%; top:50%; margin-left:442px; z-index:999; width:40px; height:40px; border:1px solid #d2d2d2; background:#fff; transform:translateY(-50%); transition:border-color 0.2s}
.analytics-team-prev svg {display:block; position:absolute; left:50%; top:50%; width:10px; height:16px; margin:-8px 0 0 -6px; fill:none; stroke:#000}
.analytics-team-next svg {display:block; position:absolute; left:50%; top:50%; width:10px; height:16px; margin:-8px 0 0 -4px; fill:none; stroke:#000}
.analytics-team-prev:hover,
.analytics-team-next:hover {border-color:#000}

@media screen and (max-width:1199px) {
    .analytics-team-prev {margin-left:-230px}
    .analytics-team-next {margin-left:190px}
}

.window-analytics-news-container {padding:30px 30px 42px 30px}
.window-analytics-news-date {font-weight:500; font-size:12px; line-height:14px; text-transform:uppercase; color:#000}
.window-analytics-news-title {font-weight:500; font-size:30px; line-height:42px; color:#000; margin:10px 0 0 0}
.window-analytics-news-container .news-detail-container {margin:25px 0 0 0}
.window-analytics-news-container .anonce-text {margin:30px 0 20px 0}

@media screen and (max-width:1199px) {
    .window-analytics-news-container {padding:30px 20px 63px 20px}
    .window-analytics-news-date {font-size:16px; line-height:19px}
    .window-analytics-news-title {margin:11px 0 0 0; line-height:36px; font-weight:600}
    .window-analytics-news-container .news-detail-photo {margin-left:-20px; margin-right:-20px}
}